[submodule "modules/.zsh-syntax-highlighting"]
	path = modules/.zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "modules/.gdb-dashboard"]
	path = modules/.gdb-dashboard
	url = https://github.com/cyrus-and/gdb-dashboard
[submodule "modules/.oh-my-zsh"]
	path = modules/.oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "modules/.powerlevel10k"]
	path = modules/.powerlevel10k
	url = https://github.com/romkatv/powerlevel10k
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
