[submodule ".fzf"]
	path = .fzf
	url = https://github.com/junegunn/fzf.git
[submodule ".zsh-syntax-highlighting"]
	path = .zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".gdb-dashboard"]
	path = .gdb-dashboard
	url = https://github.com/cyrus-and/gdb-dashboard
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = ./.oh-my-zsh
